# Ignore build folders anywhere in the project
**/x64/
**/Debug/
**/Release/
**/.vs/

# Ignore specific file types anywhere
*.exe
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.recipe
*.idb
*.user
*.filters